.idea
*.iml

*.backup

# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/
./terraform.tf


### Terraform Patch ###
*.tfvars

# End of https://www.gitignore.io/api/terraform
