global:
  scrape_interval: 15s

scrape_configs:
  - job_name: prometheus
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: paas-targets
    scheme: https
    file_sd_configs:
      - files: ['/etc/prometheus/targets/*.json']
